
<div *ngIf="successMessage" class="fixed bottom-4 right-4 bg-green-500 px-4 py-3 text-white rounded-md shadow-md z-50">
  {{ successMessage }}
</div>
<div *ngIf="alertMessage" class="fixed bottom-4 right-4 bg-red-500 px-4 py-3 text-white rounded-md shadow-md z-50">
  {{ alertMessage }}
</div>
<div *ngIf="product" class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <img [src]="product.image_url" alt="{{ product.title }}" class="w-auto h-auto object-cover">
      </div>
  
      <div>
        <h1 class="text-3xl font-bold mb-4">{{ product.title }}</h1>
        <p class="text-gray-600 mb-4">{{ product.author }}</p>
        <p class="text-lg mb-4">{{ product.description }}</p>
        <div class="flex items-center gap-4 mb-4">
          <p class="text-2xl font-semibold">{{ product.price_after_discount }}</p>
          <p class="text-lg text-red-500 line-through">{{ product.price }}</p>
        </div>
        <div class="flex gap-4">
          <button (click)="addToCart()" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600">
            Add to Cart
          </button>
          <button (click)="addToWishlist()" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600">
            Add to Wishlist
          </button>
        </div>
      </div>
    </div>
  <div class="mt-8">
    <h2 class="text-xl font-semibold">Comment section example: </h2>
    <div *ngFor="let comment of comments" class="border-b py-2">
      <div class="flex  gap-2">
        <img class="object-cover w-[50px] h-[50px] rounded-full" [src]="comment.avatar" alt="Avatar">
        <div class="space-y-1">
          <div class="flex">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <svg
              *ngIf="star <= comment.rating"
              class="w-4 h-4 text-yellow-400 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.868 5.75h6.058c.969 0 1.371 1.24.588 1.81l-4.907 3.556 1.868 5.75c.3.921-.755 1.688-1.54 1.123l-4.907-3.556-4.907 3.556c-.785.565-1.84-.202-1.54-1.123l1.868-5.75-4.907-3.556c-.784-.57-.382-1.81.588-1.81h6.058l1.868-5.75z"
              />
            </svg>
            <svg
            *ngIf="comment.rating < star - 0.5"
            class="w-4 h-4 text-gray-300 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.868 5.75h6.058c.969 0 1.371 1.24.588 1.81l-4.907 3.556 1.868 5.75c.3.921-.755 1.688-1.54 1.123l-4.907-3.556-4.907 3.556c-.785.565-1.84-.202-1.54-1.123l1.868-5.75-4.907-3.556c-.784-.57-.382-1.81.588-1.81h6.058l1.868-5.75z"
            />
          </svg>
          
          </ng-container>
          <a class="pl-2" *ngIf="comment.createdAt">{{ comment.createdAt | date: 'short' }}</a>
        </div>
        <div>
          <strong class="block">{{ comment.fullName }}</strong> 
          <p *ngIf="comment.comment.length <= 100" class="break-words">
            {{ comment.comment }}
          </p>
          <div *ngIf="comment.comment.length > 100">
            <p *ngIf="!comment.expanded" class="break-words">
              {{ comment.comment | slice:0:100 }}...
              <a (click)="comment.expanded = true" class="cursor-pointer font-semibold">Xem thêm</a>
            </p>
            <p *ngIf="comment.expanded" class="break-words">
              {{ comment.comment }}
              <a (click)="comment.expanded = false" class="cursor-pointer font-semibold">Thu gọn</a>
            </p>
          </div>
        </div>
        
        </div>
      </div>
    </div>

    <div class="mt-4">
      <h3 class="text-lg font-semibold">Thêm bình luận</h3>
      <textarea [(ngModel)]="newComment" placeholder="Nhập bình luận của bạn" class="w-full border p-2"></textarea>
     
      <input type="number" [(ngModel)]="newRating" min="1" max="5" placeholder="Đánh giá (1-5)" class="border p-2 mt-2" />
      <button (click)="addComment()" class="bg-blue-500 text-white p-2 mt-2">Gửi bình luận</button>
    </div>
  </div>
  </div>
  
  <div *ngIf="!product" class="text-center py-8">
    <p class="text-gray-600">Loading product details...</p>
  </div>