<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search for products..."
  />
  
  <button (click)="search()">Submit</button> 

  <p class="text-lg font-normal mb-0">
    There is {{ countBooks() }} result about:
  </p>

  <div *ngIf="products.length > 0" class="product-list">
    <div *ngFor="let product of products" class="product-item">
      <a [routerLink]="['/productDetails', product.id]">
        <img [src]="product.image_url" alt="Product Image" />
        <h3>{{ product.title }}</h3>
      </a>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price_after_discount }}</p>
    </div>
  </div>

  <div *ngIf="products.length === 0" class="no-results">
    No products found.
  </div>
 </div>
