<style>
    * {
      font-family: "Prata", serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>
<footer class="bg-[#FFF1E6] py-3 space-y-1">
<div class=" flex justify-center">
    <a title="Link" href="/">
        <img class="w-40 h-auto cursor-pointer" src="
        https://rails-assets-us.bookshop.org/ds/images/registered-logo.feff201f7516c84bf6ac44d84c98126760594a80.svg
        " alt="">
      </a>
</div>
     <div class=" flex justify-center">
        <p class=" text-sm">2025. All Rights Reserved.</p>
     </div>
  </footer>
  