<div class="container">
  <h2 class="text-center">đăng nhập</h2>
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" required>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email') ?.touched">
        <small>Email không hợp lệ.</small>
      </div>
    </div>
    
    <div>
      <label for="password">Mật khẩu:</label>
      <input id="password" formControlName="password" type="password" required>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small>Mật khẩu là bắt buộc.</small>
      </div>
    </div>
    
    <button type="submit" [disabled]="loginForm.invalid">Đăng nhập</button>
  </form>
</div>

