<header>
    <div class="container mx-auto flex items-center justify-between py-3 font-medium">
      <a href="/" class="text-lg text-center">LOGOS</a>
      <ul class="hidden sm:flex gap-5 text-sm text-gray-700">
        <li><a href="/" class="flex flex-col items-center gap-1">
          <p>Home</p>
          <hr class="w-2/4 border-none bg-black hidden h-[1.5px]" />
        </a></li>
        <li><a href="/collection" class="flex flex-col items-center gap-1">
          <p>Collection</p>
          <hr class="w-2/4 border-none bg-black hidden h-[1.5px]" />
        </a></li>
        <li><a href="/about" class="flex flex-col items-center gap-1">
          <p>About</p>
          <hr class="w-2/4 border-none bg-black hidden h-[1.5px]" />
        </a></li>
        <li><a href="/contact" class="flex flex-col items-center gap-1">
          <p>Contact</p>
          <hr class="w-2/4 border-none bg-black hidden h-[1.5px]" />
        </a></li>
      </ul>
      <div class="flex items-center gap-4">
        <!-- Profile Icon (SVG) -->
        <div class="group relative">
          <div class="w-5 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="w-full h-full">
              <circle cx="12" cy="8" r="4"></circle>
              <path d="M4 20c0-4 3-7 7-7h2c4 0 7 3 7 7"></path>
            </svg>
          </div>
      
          <!-- Dropdown menu -->
          <div class="group-hover:block hidden absolute right-0 pt-2">
            <div class="flex flex-col gap-2 w-40 py-2 px-5 bg-slate-100 text-gray-500 rounded">
              <p class="cursor-pointer hover:text-black ">My Profile</p>
              <p class="cursor-pointer hover:text-black ">Order</p>
              <p class="cursor-pointer hover:text-black ">Logout</p>
            </div>
          </div>
        </div>
      
        <!-- Search Icon (SVG) -->
        <div class="w-5 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="w-full h-full">
            <path d="M21 21l-4.35-4.35M18 10a8 8 0 10-16 0 8 8 0 0016 0z"></path>
          </svg>
        </div>
      </div>
      
      
      
</div>
  </header>
  