<style>
  /* p,
  h1,
  a {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  } */
</style>
<header>
  <!-- <div class="bg-[#FFF1E6] cursor-pointer">
    <p class="flex mx-auto items-center justify-center text-sm underline h-12">
      Every purchase financially supports local independent bookstores!
    </p>
  </div> -->
  <div
    class="container max-w-screen-xl mx-auto flex items-center justify-between py-3 font-medium"
  >
    <a title="Link" href="/">
      <img
        class="w-40 h-auto cursor-pointer"
        src="
    https://rails-assets-us.bookshop.org/ds/images/registered-logo.feff201f7516c84bf6ac44d84c98126760594a80.svg
    "
        alt=""
      />
    </a>

    <div class="flex justify-center items-center gap-5">
      <a href="/" class="hidden sm:inline-block hover:no-underline hover:text-inherit">
        Home
      </a>
      <a href="/collection" class="hidden sm:inline-block hover:no-underline hover:text-inherit">
        Collection
      </a>
      <a href="/new" class="hidden sm:inline-block hover:no-underline hover:text-inherit">
        New Books
      </a>
      <a href="/best" class="hidden sm:inline-block hover:no-underline hover:text-inherit">
        Best Sellers
      </a>
      <a href="/about" class="hidden sm:inline-block hover:no-underline hover:text-inherit">
        About Us
      </a>
      <a href="/contact" class="hidden sm:inline-block hover:no-underline hover:text-inherit">
        Contact
      </a>
    </div>
    
    
   
    <div class="flex items-center gap-5">
      <!-- Profile Icon (SVG) -->
      <div class="group relative">
        <div class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            class="w-[24px] h-[24px]"
          >
            <circle cx="12" cy="8" r="4"></circle>
            <path d="M4 20c0-4 3-7 7-7h2c4 0 7 3 7 7"></path>
          </svg>
        </div>

        <!-- Dropdown menu -->
        <div class="group-hover:block hidden absolute right-0 pt-2">
          <div
            class="flex flex-col gap-2 w-40 py-2 px-5 bg-slate-100 text-gray-500 rounded"
          >
            <a *ngIf="isLoggedIn" href="/login" class="cursor-pointer hover:no-underline hover:text-inherit">Profile</a>
            <a *ngIf="isLoggedIn" href="/order" class="cursor-pointer hover:no-underline hover:text-inherit ">Order</a>
            <a
              *ngIf="!isLoggedIn"
              href="/register"
              class="cursor-pointer "
              >Register</a
            >
            <a
              *ngIf="!isLoggedIn"
              href="/login"
              class="cursor-pointer "
              >Login</a
            >
            <a
              *ngIf="isLoggedIn"
              (click)="logout()"
              class="cursor-pointer "
              >Logout</a
            >
          </div>
        </div>
      </div>
      <!-- Search Icon (SVG) -->
      <div class="cursor-pointer">
        <a title="search" href="/search">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          class="w-[24px] h-[24px]"
        >
          <path d="M21 21l-4.35-4.35M18 10a8 8 0 10-16 0 8 8 0 0016 0z"></path>
        </svg>
        </a>
      </div>
      <div class="relative cursor-pointer">
        <!-- Cart Icon -->
        <a title="cart" href="/cart">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            class="w-[24px] h-[24px]"
          >
            <path d="M6 6h15l-1.5 9H6z"></path>
            <circle cx="9" cy="21" r="1"></circle>
            <circle cx="18" cy="21" r="1"></circle>
          </svg>
        </a>

        <!-- Number Circle -->
        <span
          class="absolute top-1 right-0 transform translate-x-1/2 -translate-y-1/2 bg-red-500 text-white text-xs font-thin rounded-full h-4 w-4 flex items-center text-center justify-center"
        >
          {{ cartItemCount }}
        </span>
      </div>
      <div class="relative cursor-pointer">
    <a title="wishlist" href="/wishlist">    <svg
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="w-[24px] h-[24px] cursor-pointer"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
        stroke="#000000"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg></a>
        <span
          class="absolute top-1 right-0 transform translate-x-1/2 -translate-y-1/2 bg-red-500 text-white text-xs font-thin rounded-full h-4 w-4 flex items-center text-center justify-center"
        >
        {{ wishlistItemCount }}
        </span>
      </div>

      <!-- Hamburger Icon (Visible only on small screens) -->
      <div class="sm:hidden cursor-pointer" (click)="toggleSidebar()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          class="w-[24px] h-[24px]"
        >
          <path d="M3 6h18M3 12h18M3 18h18"></path>
        </svg>
      </div>
      <!-- Sidebar -->
      <div
        [ngClass]="{
          'fixed top-0 left-0 bg-white w-full h-full sm:hidden gap-5 text-sm text-gray-700 transition-transform duration-300 ease-in-out': true,
          'transform-none': isSidebarVisible,
          'transform -translate-x-full': !isSidebarVisible
        }"
      >
      <div class="flex  items-center justify-between w-full">
        <a title="Link" href="/">
          <img
            class="w-36 ml-4 mt-2 h-auto cursor-pointer"
            src="
            https://rails-assets-us.bookshop.org/ds/images/registered-logo.feff201f7516c84bf6ac44d84c98126760594a80.svg
            "
            alt=""
          />
        </a>
        <button
        title="closeSidebar"
        class="flex p-1 mt-2 mr-2 flex-col border border-black rounded-md text-gray-700"
        (click)="closeSidebar()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          class="w-6 h-6"
        >
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
      </div>
        <ul class="mt-4 ml-4 space-y-6">
       
    
     
          <li>
            <a href="/collection" class="  w-full h-12">
              <p>Collection</p>
            </a>
          </li>
          <li>
            <a href="/new" class=" w-full h-12">
              <p>New Books</p>
            </a>
          </li>
          <li>
            <a href="/best" class=" w-full h-12">
              <p>Best Sellers</p>
            </a>
          </li>
          <li>
            <a href="/about" class=" w-full h-12">
              <p>About Us</p>
            </a>
          </li>
          <li>
            <a href="/contact" class=" w-full h-12">
              <p>Contact</p>
            </a>
          </li>
          <li>
            <a
            *ngIf="!isLoggedIn"
            href="/login"
            class="cursor-pointer "
            >Login</a
          >
          <a
            *ngIf="isLoggedIn"
            (click)="logout()"
            class="cursor-pointer "
            >Logout</a
          >
          </li>
      
        </ul>
      </div>
    </div>
  </div>
</header>

