<footer class="bg-white">
  <div class="container mx-auto max-w-screen-xl pb-0 pt-16">
    <div class="lg:flex lg:items-center lg:justify-between">
      <div class="flex justify-center lg:justify-start">
        <img
          [routerLink]="['/']"
          class="w-48 h-auto cursor-pointer"
          src="https://rails-assets-us.bookshop.org/ds/images/registered-logo.feff201f7516c84bf6ac44d84c98126760594a80.svg"
          alt=""
        />
      </div>

      <p class="mt-2 max-w-md text-center sm:text-center lg:text-left leading-relaxed text-gray-500 lg:mt-0">
        Explore a lot of collection of books for every reader. Start now!
      </p>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-8 border-t border-gray-200 pt-8 md:grid-cols-4 lg:grid-cols-6">
      <div class="text-center sm:text-center lg:text-left">
        <p class="text-lg font-medium text-gray-900">About Us</p>
        <ul class="mt-4 space-y-4 text-sm">
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Company History</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Meet the Team</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Employee Handbook</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Careers</a></li>
        </ul>
      </div>

      <div class="text-center sm:text-center lg:text-left">
        <p class="text-lg font-medium text-gray-900">Our Services</p>
        <ul class="mt-4 space-y-4 text-sm">
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Web Development</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Web Design</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Marketing</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Google Ads</a></li>
        </ul>
      </div>

      <div class="text-center sm:text-center lg:text-left">
        <p class="text-lg font-medium text-gray-900">Resources</p>
        <ul class="mt-4 space-y-4 text-sm">
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Online Guides</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Conference Notes</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Forum</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Downloads</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Upcoming Events</a></li>
        </ul>
      </div>

      <div class="text-center sm:text-center lg:text-left">
        <p class="text-lg font-medium text-gray-900">Helpful Links</p>
        <ul class="mt-4 space-y-4 text-sm">
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">FAQs</a></li>
          <li><a class="text-gray-700 transition hover:text-gray-700/75" href="#">Support</a></li>
        </ul>
      </div>

      <div class="text-center sm:text-center lg:text-left md:col-span-4 lg:col-span-2">
        <p class="text-lg font-medium text-gray-900">Stay in Touch</p>
        <div class="mx-auto mt-4 max-w-md sm:ms-0">
          <p class="text-center sm:text-center lg:text-left leading-relaxed text-gray-500">
            Sign up for our newsletter to receive the latest updates on new arrivals, special offers, and exclusive events.
          </p>
          <form class="mt-4">
            <div class="flex flex-col gap-4 sm:flex-row lg:flex-col lg:items-start">
              <label for="email" class="sr-only">Email</label>
              <input class="w-full border border-gray-300 px-5 py-3 shadow-sm" type="email" placeholder="Enter your email" />
              <button class="block bg-[#573BAE] px-5 py-3 font-medium text-white" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="mt-4 mb-4 sm:flex sm:items-center sm:justify-between">
      <p class="text-center sm:text-center lg:text-left text-sm text-gray-500">
        Copyright &copy; 2025. All rights reserved.
      </p>
    </div>
  </div>
</footer>
