<div class="container mx-auto max-w-screen-xl">
  <div class="flex gap-2">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearch()"
      placeholder="Search..."
      class="px-4 py-2 rounded-md border border-gray-300"
    />

    <button
      routerLink="/admin/add-product"
      title="addproduct"
      class="px-4 py-2 text-white bg-indigo-600 rounded-md hover:bg-indigo-700"
    >
      ProductAdd
    </button>
  </div>

  <table class="table-auto border-collapse w-full mt-4">
    <thead>
      <tr class="bg-white">
        <th class="border border-gray-600 px-4 py-2 text-center">Id</th>
        <th class="border border-gray-600 px-4 py-2 text-center">Title</th>
        <th class="border border-gray-600 px-4 py-2 text-center">Author</th>
        <th class="border border-gray-600 px-4 py-2 text-center">Price</th>
        <th class="border border-gray-600 px-4 py-2 text-center">Rating</th>
        <th class="border border-gray-600 px-4 py-2 text-center">Release</th>
        <th class="border border-gray-600 px-4 py-2 text-center">Image</th>
        <th class="border border-gray-600 px-4 py-2 text-center">Category</th>
        <th class="border border-gray-600 px-4 py-2 text-center">Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedProducts" class="hover:bg-gray-100">
        <td class="border border-gray-600 px-4 py-2 text-center align-middle">
          {{ product.id }}
        </td>
        <td class="border border-gray-600 px-4 py-2 text-center align-middle">
          {{ product.title }}
        </td>
        <td class="border border-gray-600 px-4 py-2 text-center align-middle">
          {{ product.author }}
        </td>
        <td class="border border-gray-600 px-4 py-2 text-center align-middle">
          {{ product.price }}
        </td>
        <td class="border border-gray-600 px-4 py-2 text-center align-middle">
          {{ product.rating }}
        </td>
        <td class="border border-gray-600 px-4 py-2 text-center align-middle">
          {{ product.publish_date }}
        </td>
        <td class="border border-gray-600 px-4 py-2 text-center">
          <img class="w-1/2 mx-auto" [src]="product.image_url" alt="" />
        </td>
        <td class="border border-gray-600 px-4 py-2 text-center align-middle">
          {{ product.category }}
        </td>
        <td class="border border-gray-600 px-4 py-2 text-center align-middle">
          <a
            [routerLink]="['/admin/edit-product', product.id]"
            class="text-blue-500 mx-2"
          >
            Edit
          </a>
          <button
            title="delete button"
            (click)="handleDelete(product.id)"
            class="text-red-500"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="flex justify-center items-center mt-4">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="px-3 py-2 rounded-l-full bg-gray-300 text-gray-800 disabled:opacity-50"
    >
      Prev
    </button>
    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="px-3 py-2 rounded-r-full bg-gray-300 text-gray-800 disabled:opacity-50"
    >
      Next
    </button>
  </div>
  <div>
    <p class="text-md flex mt-2 justify-center text-gray-500 font-normal mb-0">
      Page {{ currentPage }} of {{ totalPages }}
    </p>
  </div>
</div>
