<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-8">Checkout</h1>
  
    <!-- Thông tin giỏ hàng -->
    <div *ngIf="cartItems.length > 0; else emptyCart">
      <div *ngFor="let item of cartItems" class="border-b py-4">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-4">
            <img [src]="item.image_url" alt="{{ item.title }}" class="w-20 h-20 object-cover">
            <div>
              <h2 class="text-xl font-semibold">{{ item.title }}</h2>
              <p class="text-gray-600">{{ item.author }}</p>
              <p class="text-lg font-semibold">{{ item.price_after_discount | currency }} x {{ item.quantity }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Tổng tiền -->
      <div class="mt-8">
        <p class="text-2xl font-bold">Total: {{ total | currency }}</p>
      </div>
  
      <!-- Thông tin người dùng -->
      <div class="mt-8">
        <h2 class="text-2xl font-bold mb-4">Thông tin thanh toán</h2>
        <div *ngIf="user; else noUser ">
          <p><strong>Tên:</strong> {{ user.fullName }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Địa chỉ:</strong> {{ user.address.streetAddress }}, {{ user.address.city }}, {{ user.address.state }}, {{ user.address.postalCode }}</p>
          <p><strong>Phương thức thanh toán:</strong> {{ user.paymentMethod }}</p>
        </div>
        <ng-template #noUser >
          <p class="text-red-500">Vui lòng đăng nhập để thanh toán.</p>
        </ng-template>
      </div>
  
      <!-- Nút thanh toán -->
      <button (click)="checkout()" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 mt-4">
        Thanh toán
      </button>
    </div>
  
    <!-- Giỏ hàng trống -->
    <ng-template #emptyCart>
      <p class="text -center text-lg">Giỏ hàng của bạn hiện đang trống. Vui lòng thêm sản phẩm vào giỏ hàng để tiếp tục.</p>
    </ng-template>
  </div>