<style>
  .title {
  font-family: "Prata", serif;
  font-weight: 300;
  font-style: normal;
}
</style>
<div class="container mx-auto max-w-screen-xl ">
    <div class="profile-header">
      <div class="md:text-left mt-4 mb-4">
        <p class="mb-0 text-xl title cursor-pointer">
          Profile
        </p>
        <p class="text-sm font-normal text-gray-500">
          Keep track of your favorite books and purchase them anytime.
        </p>
      </div>
     
    </div>
  
    <div class="grid grid-cols-2 gap-2" *ngIf="!isEditing">
      <div class="avatar">
        <img class="w-[200px] h-[200px] rounded-full object-cover" [src]="user.avatar || 'https://i.pinimg.com/736x/18/b5/b5/18b5b599bb873285bd4def283c0d3c09.jpg'" alt="Avatar" />
      </div>
      <div class="">
        <p>Full name: {{ user.fullName }}</p>
        <p>Phone number: {{ user.phoneNumber }}</p>
        <p>Email: {{ user.email}}</p>
        <p>Postal code: {{ user.address.postalCode }}</p>
        <p>Address: {{ user.address.streetAddress }}, {{ user.address.city }}, {{ user.address.state }}, {{ user.address.country }}</p>
        <button (click)="startEditing()">Edit</button>
      </div>

    </div>
  
    <div *ngIf="isEditing">
      <div class="avatar-upload">
        <label>Avatar URL:</label>
        <input type="text" [(ngModel)]="user.avatar" placeholder="Enter avatar URL" />
        <div *ngIf="user.avatar">
          <p>Preview:</p>
          <img [src]="user.avatar || 'https://i.pinimg.com/736x/18/b5/b5/18b5b599bb873285bd4def283c0d3c09.jpg'" alt="Preview" class="avatar-preview rounded-full w-[300px] h-[300px]" />
        </div>
      </div>
  
      <div class="profile-form">
        <label>Full Name:</label>
        <input title="input" [(ngModel)]="user.fullName" />
        <label>Phone Number:</label>
        <input title="input" [(ngModel)]="user.phoneNumber" />
        <label>Address:</label>
        <input title="input" [(ngModel)]="user.address.streetAddress" />
        <input title="input" [(ngModel)]="user.address.city" />
        <input title="input" [(ngModel)]="user.address.state" />
        <input title="input" [(ngModel)]="user.address.country" />
        
      </div>
  
      <div class="action-buttons">
        <button (click)="saveChanges()">Save</button>
        <button (click)="cancelEditing()">Cancel</button>
      </div>
    </div>
  </div>
  