<div class="container mx-auto max-w-screen-xl">
  <div *ngIf="loading">Loading...</div>

  <div *ngIf="users.length > 0; else noUsers">
    <table class="table-auto w-full border-collapse">
      <thead>
        <tr>
          <th class="px-4 py-2 text-center border">Full Name</th>
          <th class="px-4 py-2 text-center border">Avatar</th>
          <th class="px-4 py-2 text-center border">Email</th>
          <th class="px-4 py-2 text-center border">Phone Number</th>
          <th class="px-4 py-2 text-center border">Role</th>
          <th class="px-4 py-2 text-center border">Status</th>
          <th class="px-4 py-2 text-center border">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td class="px-4 py-2 text-center items-center border">
            {{ user.fullName }}
          </td>
          <td class="px-4 py-2 border flex justify-center items-center">
            <img
              class="w-[100px] h-[100px] rounded-full"
              [src]="user.avatar"
              alt="Avatar"
            />
          </td>
          <td class="px-4 py-2 text-center items-center border">
            {{ user.email }}
          </td>
          <td class="px-4 py-2 text-center items-center border">
            {{ user.phoneNumber }}
          </td>
          <td class="px-4 py-2 text-center items-center border">
            {{ user.role }}
          </td>
          <td class="px-4 py-2 text-center items-center border">
            <span
              [ngClass]="{
                'text-green-500': user.status === 'active',
                'text-red-500': user.status === 'inactive'
              }"
            >
              {{ user.status | titlecase }}
            </span>
          </td>
          <td class="px-4 py-2 border">
            <div *ngIf="user.role !== 'admin'">
              <div *ngIf="user.status === 'active'">
                <button
                  (click)="toggleStatus(user.id, 'inactive')"
                  class="bg-red-500 text-white px-4 py-2 rounded"
                >
                  Disable
                </button>
              </div>
              <div *ngIf="user.status === 'inactive'">
                <button
                  (click)="toggleStatus(user.id, 'active')"
                  class="bg-green-500 text-white px-4 py-2 rounded"
                >
                  Enable
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noUsers>
    <p>{{ error || "No users found." }}</p>
  </ng-template>
</div>
