<div class="container max-w-screen-xl">
  <a class="nav-link" href="/admin/addproduct">ProductsAdd</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th> 
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Category</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products.slice();">
        <th scope="row">{{ product.id}}</th> 
        <td>{{ product.title }}</td>
        <td><img class="w-1/3 h-auto" src={{product.image_url}} alt=""></td>
        <td>{{ product.category }}</td>
        <td>
          <a [routerLink]="['/admin/edit', product.id]">Edit</a>
          <button (click)="handleDelete(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
